/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  font-family: 'Lato', sans-serif;
  margin-bottom: 60px;
  margin-top:60px;
  background-color: #ff;f
  
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #86c03d;
}

.footer img {
  width: 12%;
  padding: 15px;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
  padding: 120px 15px 0;
}
.container .text-muted {
  margin: 20px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}
.ssk-group, .ssk-sticky {
  font-size: 0;
  position: fixed;
  right: 15%;
  /*bottom: 150px;*/
  /* border: 2px solid #8EC549; */
  /* border-radius: 10px; */
}
.text-muted {
  font-size: 12px;
}
li > label {
  font-weight: inherit;
  font-size:12px;
}

#manifiesto {
  border: crispedges;
  box-shadow: 5px 10px 18px #888888;
  margin-bottom: 50px;
  padding: 20px 40px 40px 40px;
  margin-left: 20px;
  background-color: #fff;
}

#apoya {
  position: fixed;
  right: 40px;
  background-color: #fff;
}
#apoya #title, #firmas #title{
  font-weight: bold;
  font-size: 17px;
}
#firmas {
  background: #fff;
  padding: 30px;
  margin: 0px 0px 20px 0px;
}

.navbar-default {
  background-color: #8EC549 !important;
}
.navbar-header {
  width: 100%;
}
.navbar-header img{
  width: 35%;
  padding: 30px;
}
 @media screen and (max-width: 600px) {
  .navbar-header {
    width: 110%;
  }
  .navbar-header img {
    width: 85%;
  }
  #apoya {
  margin: 20px 10px 50px 10px;
  position: static;
  }
  .ssk-group, .ssk-sticky {
  font-size: 0;
  position: absolute;
  right: 15%;
  top: 500px;
*/  bottom: 70px;
  /* border: 2px solid #8EC549; */
  /* border-radius: 10px; */
}
.footer img {
  width: 40%;
  padding: 15px;
}
  #text-manifiest {
    display: flex;
    flex-direction: column;
  }
.ssk-group, .ssk-sticky {
  position: static;
  margin-left: 10%;
  padding: 0px 0px 10px 0px;
}

  #manifiesto {
  box-shadow: 5px 10px 18px #888888;
  margin-bottom: 50px;
  padding: 20px 40px 40px 40px;
  margin-left: 10px;
  margin-right: 10px;
}

}